@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 19px;
  font-weight: normal;
  color: white; }

main {
  min-height: 100vh; }

/*Introducción con Portada*/
.estiloTítulo_1 {
  margin-top: 5%; }

.anclaIngresar {
  text-decoration: none;
  color: white;
  padding-bottom: 100px;
  justify-items: end; }

.contenedorAnclas {
  text-align: center;
  padding-top: 15%;
  padding-bottom: 2%; }

.anclas {
  text-decoration: none;
  color: #ffff; }

/* Intro con Portada */
/* Portada */
#contenedorPortadaIndex {
  background-image: url(../img/fondoIndex.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }
  @media only screen and (max-width: 700px) {
    #contenedorPortadaIndex #imgLogoPortada {
      width: 100%;
      padding-right: 5%;
      padding-left: 5%; } }
  @media only screen and (min-width: 700px) {
    #contenedorPortadaIndex #imgLogoPortada {
      width: 700px;
      padding-left: 35px;
      padding-right: 35px; } }

/* Sobre Nosotros */
.contenedorMainIndex {
  min-height: 100vh;
  background-color: #051923;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  color: #ffff; }
  .contenedorMainIndex hr {
    margin-top: 0px; }
  .contenedorMainIndex .estiloParrafoIndex {
    display: inline; }
  .contenedorMainIndex #resalteServiciosIndex {
    font-weight: bold;
    color: #a18b62; }

/* Portada-Intro */
#contenedorIntroduccionServicios {
  min-height: 95vh;
  background-color: #051923;
  display: flex;
  flex-direction: row;
  color: white; }
  #contenedorIntroduccionServicios #bgImgServicios {
    background-image: url(../img/portada_serviciosII.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center; }
  #contenedorIntroduccionServicios #contTextoIntroServ {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    padding-left: 50px;
    padding-right: 50px; }
  #contenedorIntroduccionServicios hr {
    margin-top: 0px; }

/* Lista de servicios */
.contenedorMainServ {
  min-height: 100vh;
  background-color: #181818;
  display: flex;
  flex-direction: column; }
  @media only screen and (max-width: 600px) {
    .contenedorMainServ #contenedorPadreGrillaServ {
      display: flex; }
      .contenedorMainServ #contenedorPadreGrillaServ #contenedorHijoGrillaServ {
        background-color: #181818;
        display: grid;
        width: 100%;
        height: 1100px;
        display: grid;
        grid-template-columns: 90%;
        grid-template-rows: 210px 260px 240px 170px;
        grid-template-areas: "a1" "a2" "a3" "a4";
        justify-content: center;
        align-content: space-evenly; }
        .contenedorMainServ #contenedorPadreGrillaServ #contenedorHijoGrillaServ #servicio_i, .contenedorMainServ #contenedorPadreGrillaServ #contenedorHijoGrillaServ #servicio_ii, .contenedorMainServ #contenedorPadreGrillaServ #contenedorHijoGrillaServ #servicio_iii, .contenedorMainServ #contenedorPadreGrillaServ #contenedorHijoGrillaServ #servicio_iv {
          grid-area: a1;
          background-color: #111111;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          padding-left: 20px;
          padding-right: 20px;
          box-shadow: 0px 0px 10px 0px  #ffff; }
        .contenedorMainServ #contenedorPadreGrillaServ #contenedorHijoGrillaServ #servicio_ii {
          grid-area: a2; }
        .contenedorMainServ #contenedorPadreGrillaServ #contenedorHijoGrillaServ #servicio_iii {
          grid-area: a3; }
        .contenedorMainServ #contenedorPadreGrillaServ #contenedorHijoGrillaServ #servicio_iv {
          grid-area: a4; }
        .contenedorMainServ #contenedorPadreGrillaServ #contenedorHijoGrillaServ .parrafosListServ {
          font-size: 17px;
          display: block;
          margin: 0;
          line-height: 150%;
          color: #ffff; }
        .contenedorMainServ #contenedorPadreGrillaServ #contenedorHijoGrillaServ .titulosListaServ {
          text-align: center;
          margin-top: 5px;
          margin-bottom: 0px;
          color: #a18b62; }
        .contenedorMainServ #contenedorPadreGrillaServ #contenedorHijoGrillaServ .subrayadoTitulosServ {
          color: #a18b62; } }
  @media only screen and (min-width: 600px) {
    .contenedorMainServ #contenedorPadreGrillaServ {
      display: flex; }
      .contenedorMainServ #contenedorPadreGrillaServ #contenedorHijoGrillaServ {
        background-color: #181818;
        display: grid;
        width: 100%;
        height: 1100px;
        display: grid;
        grid-template-columns: 540px;
        grid-template-rows: 210px 260px 240px 170px;
        grid-template-areas: "a1" "a2" "a3" "a4";
        justify-content: center;
        align-content: space-evenly; }
        .contenedorMainServ #contenedorPadreGrillaServ #contenedorHijoGrillaServ #servicio_i, .contenedorMainServ #contenedorPadreGrillaServ #contenedorHijoGrillaServ #servicio_ii, .contenedorMainServ #contenedorPadreGrillaServ #contenedorHijoGrillaServ #servicio_iii, .contenedorMainServ #contenedorPadreGrillaServ #contenedorHijoGrillaServ #servicio_iv {
          grid-area: a1;
          background-color: #111111;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          padding-left: 20px;
          padding-right: 20px;
          box-shadow: 0px 0px 10px 0px  #ffff; }
        .contenedorMainServ #contenedorPadreGrillaServ #contenedorHijoGrillaServ #servicio_ii {
          grid-area: a2;
          background-color: #111111;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          padding-left: 20px;
          padding-right: 20px;
          box-shadow: 0px 0px 10px 0px  #ffff; }
        .contenedorMainServ #contenedorPadreGrillaServ #contenedorHijoGrillaServ #servicio_iii {
          grid-area: a3;
          background-color: #111111;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          padding-left: 20px;
          padding-right: 20px;
          box-shadow: 0px 0px 10px 0px  #ffff; }
        .contenedorMainServ #contenedorPadreGrillaServ #contenedorHijoGrillaServ #servicio_iv {
          grid-area: a4;
          background-color: #111111;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          padding-left: 20px;
          padding-right: 20px;
          box-shadow: 0px 0px 10px 0px  #ffff; }
        .contenedorMainServ #contenedorPadreGrillaServ #contenedorHijoGrillaServ .parrafosListServ {
          font-size: 17px;
          display: block;
          margin: 0;
          line-height: 150%;
          color: #ffff; }
        .contenedorMainServ #contenedorPadreGrillaServ #contenedorHijoGrillaServ .titulosListaServ {
          text-align: center;
          margin-top: 5px;
          margin-bottom: 0px;
          color: #a18b62; }
        .contenedorMainServ #contenedorPadreGrillaServ #contenedorHijoGrillaServ .subrayadoTitulosServ {
          color: #a18b62; } }
  @media only screen and (min-width: 1200px) {
    .contenedorMainServ #contenedorPadreGrillaServ {
      background-color: #181818;
      height: 85vh;
      justify-content: center;
      align-items: center;
      display: flex; }
      .contenedorMainServ #contenedorPadreGrillaServ #contenedorHijoGrillaServ {
        background-color: #181818;
        display: grid;
        width: 1200px;
        height: 85vh;
        display: grid;
        grid-template-columns: 500px 500px;
        grid-template-rows: 220px 220px;
        grid-template-areas: "a1 a2" "a3 a4";
        justify-content: space-evenly;
        align-content: space-evenly; }
        .contenedorMainServ #contenedorPadreGrillaServ #contenedorHijoGrillaServ #servicio_i, .contenedorMainServ #contenedorPadreGrillaServ #contenedorHijoGrillaServ #servicio_ii, .contenedorMainServ #contenedorPadreGrillaServ #contenedorHijoGrillaServ #servicio_iii, .contenedorMainServ #contenedorPadreGrillaServ #contenedorHijoGrillaServ #servicio_iv {
          grid-area: a1;
          background-color: #111111;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          padding-left: 20px;
          padding-right: 20px;
          box-shadow: 0px 0px 10px 0px  #ffff; }
        .contenedorMainServ #contenedorPadreGrillaServ #contenedorHijoGrillaServ #servicio_ii {
          grid-area: a2;
          background-color: #111111;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          padding-left: 20px;
          padding-right: 20px;
          box-shadow: 0px 0px 10px 0px  #ffff; }
        .contenedorMainServ #contenedorPadreGrillaServ #contenedorHijoGrillaServ #servicio_iii {
          grid-area: a3;
          background-color: #111111;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          padding-left: 20px;
          padding-right: 20px;
          box-shadow: 0px 0px 10px 0px  #ffff; }
        .contenedorMainServ #contenedorPadreGrillaServ #contenedorHijoGrillaServ #servicio_iv {
          grid-area: a4;
          background-color: #111111;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          padding-left: 20px;
          padding-right: 20px;
          box-shadow: 0px 0px 10px 0px  #ffff; }
        .contenedorMainServ #contenedorPadreGrillaServ #contenedorHijoGrillaServ .parrafosListServ {
          font-size: 19px;
          display: block;
          margin: 0;
          line-height: 150%;
          color: white; }
        .contenedorMainServ #contenedorPadreGrillaServ #contenedorHijoGrillaServ .titulosListaServ {
          text-align: center;
          margin-top: 5px;
          margin-bottom: 0px;
          color: #a18b62; }
        .contenedorMainServ #contenedorPadreGrillaServ #contenedorHijoGrillaServ .subrayadoTitulosServ {
          color: #a18b62; } }
  .contenedorMainServ #subrayadoTituloServ {
    margin-top: 0px;
    margin-bottom: 0px; }
  .contenedorMainServ .imgLogosClientes {
    height: 160px; }

/* Portada-Intro */
#contenedorIntroduccionEquipo {
  min-height: 95vh;
  background-color: #110606;
  display: flex;
  flex-direction: row;
  color: white; }
  #contenedorIntroduccionEquipo #bgImgEquipo {
    background-image: url(../img/portada_equipo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center; }
  #contenedorIntroduccionEquipo #contTextoIntroEquipo {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    padding-left: 50px;
    padding-right: 50px; }
  #contenedorIntroduccionEquipo hr {
    margin-top: 0px; }

/* Socios */
.contenedorMainEquipo {
  min-height: 100vh;
  background-color: #111111;
  padding-top: 100px;
  padding-bottom: 100px; }
  .contenedorMainEquipo .listaContactoSocios {
    list-style: none;
    font-size: 17px; }
  .contenedorMainEquipo .imgSocios {
    height: 400px;
    box-shadow: 5px 5px 10px 0px  #ffff; }
  .contenedorMainEquipo .ulListaSocios {
    padding: 0; }
  .contenedorMainEquipo .subTituloContadores {
    color: #a18b62; }
  .contenedorMainEquipo .parrafoSocios {
    font-size: 19px;
    padding-bottom: 40px; }

@media only screen and (max-width: 960px) {
  .imgSocios {
    height: 360px;
    box-shadow: 5px 5px 10px 0px  #ffff; }
  .parrafoSocios {
    font-size: 17px;
    padding-bottom: 10px; }
  .ulListaSocios {
    padding: 0; }
    .ulListaSocios .listaContactoSocios {
      list-style: none;
      font-size: 15px; } }

/* Portada - Intro */
#contenedorIntroduccionWork {
  min-height: 95vh;
  background-color: #0f0f0f;
  display: flex;
  flex-direction: row;
  color: white; }
  #contenedorIntroduccionWork #bgImgWork {
    background-image: url(../img/jovenes_trabajando.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center; }
  #contenedorIntroduccionWork #contTextoIntroWork {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    padding-left: 50px;
    padding-right: 50px; }
  #contenedorIntroduccionWork hr {
    margin-top: 0px; }

/* Llamados */
.contenedorMainWork {
  min-height: 100vh;
  background-color: #181818;
  padding-top: 5%;
  padding-bottom: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-around; }
  .contenedorMainWork .pCardsLlamados {
    color: #a18b62; }

/*
#contenedorPadreLlamadosAbiertos {
    height: 70vh;
    background-color: #1d5064;
}

#contenedorHijoLLamadosAbiertos {
    height: 70vh;
    background-color: #c2b8b2;
    width: 70%;
    color: black;
}

#contenedorHijoLLamadosAbiertos h2 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
    margin-left: 20px;
    padding-top: 20px;
}

#contenedorHijoLLamadosAbiertos h3 u {
    font-size: 22px;
    font-weight: bold;
}

#contenedorHijoLLamadosAbiertos h3 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-left: 20px;
}

.estiloParrafoLlamado {
    margin-left: 20px;
    margin-bottom: 20px;
}

#contenedorPrincipalFormularioLLamados {
    background-color: #250001;
    position: relative;
}

#contenedorPrincipalFormularioLLamados h3 {
    color: #ffff;
    font-size: 30px;
    margin-bottom: 30px;
    margin-left: 20px;
    padding-top: 20px;
}

#contenedorEspecificoFormulario {
    height: 70vh;
    width: 50%;
}

.itemsFormularioLlamados {
    display: inline-block;
    background-color: #e7dcd5;
    color: black;
    margin-left: 20px;
    margin-top: 20px;
}

#imagenFormularioLlamados {
    position: absolute;
    top: 12%;
    right: 8%;
    border: 2px solid #ffff;
}

*/
#contenedorPrincipalContacto h2 {
  font-size: 50px;
  font-weight: bold;
  position: relative;
  margin-left: 40px;
  padding-top: 100px; }

#contenedorPrincipalContacto {
  background-color: #1d5064;
  height: 120vh;
  position: relative;
  color: #ffff; }

#contenedorHijoContacto {
  height: 70%;
  width: 50%;
  position: relative;
  top: 6%;
  display: inline-block; }

.estiloCamposFormulario {
  display: block;
  margin-top: 2px;
  margin-bottom: 20px;
  margin-left: 40px; }

.estiloLabelFormulario {
  margin-left: 40px; }

#imgContacto {
  position: absolute;
  top: 163px;
  right: 70px; }

#sectionOtrosDatosContacto {
  height: 30vh;
  width: 20%;
  display: inline-block;
  margin-left: 820px;
  position: absolute;
  top: 600px;
  right: 390px; }

#sectionOtrosDatosContacto ul li {
  list-style: none; }

#sectionOtrosDatosContacto ul li a {
  text-decoration: none;
  color: #ffff; }

.estiloTitulosFooter {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 3px;
  color: #737373; }

.estiloListasFooter {
  font-size: 15px;
  list-style: none;
  text-decoration: none;
  color: #737373; }

.iconsRedesFooter {
  margin-left: 10px;
  margin-right: 10px; }

.iconsContactoFooter {
  margin-right: 5px; }

#estiloCopy {
  font-size: 15px;
  text-align: center; }
