
#contenedorPrincipalContacto h2 {
    font-size: 50px;
    font-weight: bold;
    position: relative;
    margin-left: 40px;
    padding-top: 100px;
}

#contenedorPrincipalContacto {
    background-color: #1d5064;
    height: 120vh;
    position: relative;
    color: #ffff;
}

#contenedorHijoContacto {
    height: 70%;
    width: 50%;
    position: relative;
    top: 6%;
    display: inline-block;
}

.estiloCamposFormulario {
    display: block;
    margin-top: 2px;
    margin-bottom: 20px;
    margin-left: 40px;
}

.estiloLabelFormulario {
    margin-left: 40px;
}

#imgContacto {
    position: absolute;
    top: 163px;
    right: 70px;
}

#sectionOtrosDatosContacto {
    height: 30vh;
    width: 20%;
    display: inline-block;
    margin-left: 820px;
    position: absolute;
    top: 600px;
    right: 390px;
}

#sectionOtrosDatosContacto ul li {
    list-style: none;
}

#sectionOtrosDatosContacto ul li a {
    text-decoration: none;
    color: #ffff;
}
