
/* Portada-Intro */

#contenedorIntroduccionEquipo {
    @include contenedorIntroduccion(#110606);
   
    #bgImgEquipo {
        @include bgImg(url(../img/portada_equipo.png));
    }

    #contTextoIntroEquipo {
        @include contTextoIntro(50px, 50px);
    }

    hr {
        margin-top: $mt-subrayado-titulo;
    }
}

/* Socios */

.contenedorMainEquipo{
    @include contenedorMain (#111111);
    padding-top: 100px;
    padding-bottom: 100px;

    .listaContactoSocios{
        list-style: $list-style;
        font-size: 17px;
    }
    
    .imgSocios{
        height: 400px;
        box-shadow: 5px 5px 10px 0px  #ffff;
    }
    
    .ulListaSocios{
        padding: 0;
    }
    
    .subTituloContadores{
        color:rgb(161, 139, 98);
    }
    
    .parrafoSocios{
        font-size: 19px;
        padding-bottom: 40px;
    }

}



@media only screen and (max-width: 960px) {

    .imgSocios{
        height: 360px;
        box-shadow: 5px 5px 10px 0px  #ffff;
    }
    
    .parrafoSocios{
        font-size: 17px;
        padding-bottom: 10px;
    } 

    .ulListaSocios{
        padding: 0;

        .listaContactoSocios{
            list-style: $list-style;
            font-size: 15px;
        }
    }

}

