
.estiloTitulosFooter {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 3px;
    color: #737373;
}

.estiloListasFooter {
    font-size: 15px;
    list-style: none;
    text-decoration: none;
    color: #737373;
}


.iconsRedesFooter {
    margin-left: 10px;
    margin-right: 10px;
}

.iconsContactoFooter{
    margin-right: 5px;
}

#estiloCopy {
    font-size: 15px;
    text-align: center;
}

