/* Portada */

#contenedorPortadaIndex {
    @include bgImg(url(../img/fondoIndex.png));
    min-height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    #imgLogoPortada {
        @media only screen and (max-width: 700px) {
            width: 100%;
            padding-right: 5%;
            padding-left: 5%;
        }

        @media only screen and (min-width: 700px) {
            width: 700px;
            padding-left: 35px;
            padding-right: 35px;
        }
    }
}

/* Sobre Nosotros */

.contenedorMainIndex {
    @include contenedorMain(#051923);
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    color: #ffff;

    hr {
        margin-top: $mt-subrayado-titulo;
    }

    .estiloParrafoIndex {
        display: inline;
    }

    #resalteServiciosIndex {
        font-weight: bold;
        color: rgb(161, 139, 98);
    }
}
