
/* Portada-Intro */

#contenedorIntroduccionServicios {
    @include contenedorIntroduccion(#051923);

    #bgImgServicios {
        @include bgImg(url(../img/portada_serviciosII.png));
    }

    #contTextoIntroServ {
        @include contTextoIntro(50px, 50px);
    }

    hr {
        margin-top: $mt-subrayado-titulo;
    }
}

/* Lista de servicios */

.contenedorPadreMainServicios {
    display: flex;
    flex-direction: column;
    background-color: #181818;
    color: #ffff;

    @media only screen and (max-width: 600px) {
        #contenedorPadreGrillaServ {
            display: flex;

            #contenedorHijoGrillaServ {
                background-color: #181818;
                display: grid;
                width: 100%;
                height: 1100px;
                display: grid;
                grid-template-columns: 90%;
                grid-template-rows: 210px 260px 240px 170px;
                grid-template-areas:
                    "a1"
                    "a2"
                    "a3"
                    "a4";
                justify-content: center;
                align-content: space-evenly;

                #servicio_i {
                    grid-area: a1;
                    background-color: #111111;
                    display: flex;
                    flex-direction: column;
                    justify-content:space-around;
                    padding-left: 20px;
                    padding-right: 20px;
                    box-shadow: 0px 0px 10px 0px  #ffff; 
                }

                #servicio_ii {
                    @extend #servicio_i;
                    grid-area: a2;
          
                }

                #servicio_iii {
                    @extend #servicio_i;
                    grid-area: a3;
                    
                }

                #servicio_iv {
                    @extend #servicio_i;
                    grid-area: a4;
                }

                .parrafosListServ {
                    font-size: 17px;
                    display: block;
                    margin: 0;
                    line-height: 150%;
                    color: #ffff;
                }

                .titulosListaServ{
                    text-align: center;
                    margin-top: 5px;
                    margin-bottom: 0px;
                    color:rgb(161, 139, 98);                   
                }

                .subrayadoTitulosServ{
                    color: rgb(161, 139, 98);
                }
            }
        }
    }
    

    @media only screen and (min-width: 600px) {
        #contenedorPadreGrillaServ {
            display: flex;

            #contenedorHijoGrillaServ {
                background-color: #181818;
                display: grid;
                width: 100%;
                height: 1100px;
                display: grid;
                grid-template-columns: 540px;
                grid-template-rows: 210px 260px 240px 170px;
                grid-template-areas:
                    "a1"
                    "a2"
                    "a3"
                    "a4";
                justify-content: center;
                align-content: space-evenly;

                #servicio_i {
                    grid-area: a1;
                    background-color: #111111;
                    display: flex;
                    flex-direction: column;
                    justify-content:space-around;
                    padding-left: 20px;
                    padding-right: 20px;
                    box-shadow: 0px 0px 10px 0px  #ffff;
                }

                #servicio_ii {
                    grid-area: a2;
                    background-color: #111111;
                    display: flex;
                    flex-direction: column;
                    justify-content:space-around;
                    padding-left: 20px;
                    padding-right: 20px;
                    box-shadow: 0px 0px 10px 0px  #ffff;
                }

                #servicio_iii {
                    grid-area: a3;
                    background-color: #111111;
                    display: flex;
                    flex-direction: column;
                    justify-content:space-around;
                    padding-left: 20px;
                    padding-right: 20px;
                    box-shadow: 0px 0px 10px 0px  #ffff;
                }

                #servicio_iv {
                    grid-area: a4;
                    background-color: #111111;
                    display: flex;
                    flex-direction: column;
                    justify-content:space-around;
                    padding-left: 20px;
                    padding-right: 20px;
                    box-shadow: 0px 0px 10px 0px  #ffff;
                }

                .parrafosListServ {
                    font-size: 17px;
                    display: block;
                    margin: 0;
                    line-height: 150%;
                    color: #ffff;
                }

                .titulosListaServ{
                    text-align: center;
                    margin-top: 5px;
                    margin-bottom: 0px;
                    color:rgb(161, 139, 98);                   
                }

                .subrayadoTitulosServ{
                    color: rgb(161, 139, 98);
                }
            }
        }
    }

    @media only screen and (min-width: 1200px) {
        #contenedorPadreGrillaServ {
            background-color: #181818;
            height: 85vh;
            justify-content: center;
            align-items: center;
            display: flex;

            #contenedorHijoGrillaServ {
                background-color: #181818;
                display: grid;
                width: 1200px;
                height: 85vh;
                display: grid;
                grid-template-columns: 500px 500px;
                grid-template-rows: 220px 220px;
                grid-template-areas:
                    "a1 a2"
                    "a3 a4";
                justify-content: space-evenly;
                align-content: space-evenly;

                #servicio_i {
                    grid-area: a1;
                    background-color: #111111;
                    display: flex;
                    flex-direction: column;
                    justify-content:space-around;
                    padding-left: 20px;
                    padding-right: 20px;
                    box-shadow: 0px 0px 10px 0px  #ffff;
                }


                #servicio_ii {
                    grid-area: a2;
                    background-color: #111111;
                    display: flex;
                    flex-direction: column;
                    justify-content:space-around;
                    padding-left: 20px;
                    padding-right: 20px;
                    box-shadow: 0px 0px 10px 0px  #ffff;
                }

                #servicio_iii {
                    grid-area: a3;
                    background-color: #111111;
                    display: flex;
                    flex-direction: column;
                    justify-content:space-around;
                    padding-left: 20px;
                    padding-right: 20px;
                    box-shadow: 0px 0px 10px 0px  #ffff;
                }

                #servicio_iv {
                    grid-area: a4;
                    background-color: #111111;
                    display: flex;
                    flex-direction: column;
                    justify-content:space-around;
                    padding-left: 20px;
                    padding-right: 20px;
                    box-shadow: 0px 0px 10px 0px  #ffff;
                }

                .parrafosListServ {
                    font-size: 19px;
                    display: block;
                    margin: 0;
                    line-height: 150%;
                    color: rgb(255, 255, 255);
                }

                .titulosListaServ{
                    text-align: center;
                    margin-top: 5px;
                    margin-bottom: 0px;
                    color:rgb(161, 139, 98);                   
                }

                .subrayadoTitulosServ{
                    color: rgb(161, 139, 98);
                }
            }
        }
    }

    #subrayadoTituloServ {
        margin-top: $mt-subrayado-titulo;
        margin-bottom: 0px;
    }
    
    .imgLogosClientes{
        height: 160px;
    }
}

