
/* Portada - Intro */

#contenedorIntroduccionWork {
    @include contenedorIntroduccion(#0f0f0f);

    #bgImgWork {
        @include bgImg(url(../img/jovenes_trabajando.png));
    }

    @media only screen and (max-width: 600px) {
        #contTextoIntroWork {
            @include contTextoIntro(10px, 10px);
        }

        .parrIntro{
            font-size: $fz-parr-intro;
        }
    }

    @media only screen and (min-width: 600px) {
        #contTextoIntroWork {
            @include contTextoIntro(50px, 50px);
        }
    }

    hr {
        margin-top: $mt-subrayado-titulo;
    }
}


/* Llamados abiertos*/

.contenedorMainWork {
    @include contenedorMain (#181818);
    padding-top: 5%;
    padding-bottom: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .pCardsLlamados{
        color: rgb(161, 139, 98);
    }
}




