
/* SEPARAR EN EL OTRO ARCHIVO SCSS LO QUE CORRESPONDE A LOS LLAMADOS */

/* Trabajá con nosotros */

/* Trabajá con nosotros - Introducción */

#contenedorIntoduccionTrabaja {
    height: 35vh;
    background-color: #051923;
    color: #ffff;
    text-align: center;
}

.estiloTituloTrabaja {
    font-size: 50px;
    font-weight: bold;
    position: relative;
    top: 50%;
}

/* Trabajá con nosotros - LLamados */

#contenedorLLamados {
    background-color: #590004;
    height: 100vh;
    position: relative;
}

#imgLlamados {
    height: 320px;
    position: relative;
    top: 30px;
    left: 50px;
}

#estiloTituloLLamadosAbiertos {
    font-size: 34px;
    display: inline-block;
    position: relative;
    top: 15px;
    left: 80px;
    font-weight: bold;
    color: #ffff;
}

/* Trabajá con nosotros - Por qué trabajar en V & A */

#contenedorCulturaOrganizacion {
    height: 40vh;
    background-color: #7a3e43;
    color: #ffff;
}

#contenedorHijoCulturaOrganizacion {
    height: 70%;
    width: 60%;
    background-color: #55262a;
    color: #ffff;
    position: relative;
    left: 20%;
    top: 16%;
}

#contenedorHijoCulturaOrganizacion h2 {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    padding-top: 10px;
}

#contenedorHijoCulturaOrganizacion p {
    margin-left: 10px;
    margin-right: 10px;
}

/* Llamados */

#contenedorPadreLlamadosAbiertos {
    height: 70vh;
    background-color: #1d5064;
}

#contenedorHijoLLamadosAbiertos {
    height: 70vh;
    background-color: #c2b8b2;
    width: 70%;
    color: black;
}

#contenedorHijoLLamadosAbiertos h2 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
    margin-left: 20px;
    padding-top: 20px;
}

#contenedorHijoLLamadosAbiertos h3 u {
    font-size: 22px;
    font-weight: bold;
}

#contenedorHijoLLamadosAbiertos h3 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-left: 20px;
}

.estiloParrafoLlamado {
    margin-left: 20px;
    margin-bottom: 20px;
}

#contenedorPrincipalFormularioLLamados {
    background-color: #250001;
    position: relative;
}

#contenedorPrincipalFormularioLLamados h3 {
    color: #ffff;
    font-size: 30px;
    margin-bottom: 30px;
    margin-left: 20px;
    padding-top: 20px;
}

#contenedorEspecificoFormulario {
    height: 70vh;
    width: 50%;
}

.itemsFormularioLlamados {
    display: inline-block;
    background-color: #e7dcd5;
    color: black;
    margin-left: 20px;
    margin-top: 20px;
}

#imagenFormularioLlamados {
    position: absolute;
    top: 12%;
    right: 8%;
    border: 2px solid #ffff;
}
